body {
    background: #111211;
    color: #fff;
    padding: 20px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 10px;
    background: #111211;
}
.button-style {
    background: #111211;
    border: white 2px solid;
    color: white;
    border-radius: 25px;
    padding: 10px;
}
.button-style:hover {
    background: #222422;
    border: white 2px solid;
    color: white;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

.button-style-disabled {
    background: #111211;
    border: white 2px solid;
    color: white;
    border-radius: 25px;
    padding: 10px;
    cursor: not-allowed;
}

.header-selects {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.mb-10 {
    margin-bottom: 10px;
}